*::selection {
	color: white;
	background: red;
}

* {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto';
}

.play-on-hover {
	animation-play-state: paused;
}

.play-on-hover:hover {
	animation-play-state: running;
}
